.playerArea>marquee {
    min-height: 40vh;
    width: 100%;
}

/* .healthBar {
    width: 100%;
    min-height: 2vh;
} */

#healtBar {
    width: 100%;
    min-height: 2vh;
}

.playerName {
    width: 14%;
}

.bossClass {
    user-select: none;
}